/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html, body {
  color: #000D0A;
  font-family: 'Helvetica Neue', sans-serif;
}

.text-center {
  text-align: center;
}
